body{
  padding: 0;
  margin: 0;
}




input, textarea, select, button {
        font-family: "Muli-Regular";
        color: #333;
        font-size: 13px; 
    }
p, h1, h2, h3, h4, h5, h6, ul {
            margin: 0;
 }
img {
     max-width: 100%; }
          
ul {
     padding-left: 0;
  margin-bottom: 0; }
          
 a:hover {
         text-decoration: none; }
          
          :focus {
            outline: none; }
          
          .wrapper {
            min-height: 100vh;
            background-size: cover;
           background-image: url(/public/images/pexels-caio-46274.jpg);
            display: flex;
            background-position: center;
            align-items: center; }
 .inner {
  min-width: 850px;
    border-radius: 20px;
    margin: auto;
     padding-top: 68px;
     padding-bottom: 48px;
          background: url(/public/images/pexels-kindel-media-7054519.jpg); 
     background-position: center;
    background-size: cover;
              }
              .inner h3 {
                text-transform: uppercase;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 32px;
                color: rgb(226, 22, 22);
                letter-spacing: 2px; }
            
            form {
              width: 50%;
              padding-left: 45px; }
            
            .form-group {
             
              display: flex; }
              .form-group .form-wrapper {
                width: 50%; }
                .form-group .form-wrapper:first-child {
                  margin-right: 20px; }
            
            .form-wrapper {
              margin-bottom: 17px; }
              .form-wrapper label {
                margin-bottom: 9px;
                display: block; }
            
            .form-control {
              border: 2px solid rgb(239, 9, 9);
              
              display: block;
              width: 100%;
              height: 50px;
              padding: 0 20px;
              border-radius: 20px;
              background:whitel; 
            }
.rating{
  color: black;
  font-weight: bold;
  font-size: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin: 25px;

}

.radio{
    height: 20px;
  width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    border: 1px solid black;
    margin-left:13px;
    
}
.radio:after {
    top: 8px;
   left: 8px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background: white;
}
            
            
.fbtn {
              border: none;
              width: 152px;
              height: 40px;
              margin: auto;
              margin-top: 29px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              background: #ae3c33;
              font-size: 13px;
              color: #fff;
              text-transform: uppercase;
              font-family: "Muli-SemiBold";
              border-radius: 20px;
              overflow: hidden;
              -webkit-transform: perspective(1px) translateZ(0);
              transform: perspective(1px) translateZ(0);
              box-shadow: 0 0 1px rgba(0, 0, 0, 0);
              position: relative;
              -webkit-transition-property: color;
              transition-property: color;
              -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s; }
             .fbtn:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #f11a09;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out; }
             .fbtn:hover:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
            
            
            
            @media (max-width: 991px) {
              .inner {
                min-width: 768px; } }
            @media (max-width: 767px) {
              .inner {
                min-width: auto;
                background: none;
                padding-top: 0;
                padding-bottom: 0; }
            
              form {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px; } }
            
    